#contact-me {
    background-color: #f8deef75;
    height: 70vh;
    display: grid;
    grid-template-columns: 5% 18% 18% 18% 18% 18% 5%;
    grid-template-rows: 40% 50% 10%
}

#contact {
    font-size: 45px;
    margin: auto;
    grid-column: 1/8;
    color: #b4046c;
}

.icon-contact {
    font-size: 6em;
    color: #d676b4;
}

.icon-contact:hover {
    color: #c4338c;
}

#git-contact,
#linkedIl,
#gmail,
#cv,
#phone {
    grid-row: 2/3;
    margin: auto;
}

#git-contact {
    grid-column: 2/3;
}

#linkedIl {
    grid-column: 3/4;
}

#gmail {
    grid-column: 4/5;
}

#cv {
    grid-column: 5/6;
}

#phone {
    grid-column: 6/7;
}


/* 768 x 1024 */

@media (max-width: 769px) and (max-height: 1025px) {
    #contact-me {
        height: 80vh;
    }
    #contact {
        text-align: center;
    }
}


/* 376x668 */

@media (max-width: 376px) and (max-height: 668px) {
    #contact-me {
        height: 85.5vh;
        grid-template-columns: 5% 30% 30% 30% 5%;
        grid-template-rows: 40% 25% 25% 10%
    }
    .icon-contact {
        font-size: 4.5em;
    }
    #contact {
        grid-column: 1/6;
        font-size: 35px
    }
    #cv {
        grid-column: 2/3;
        grid-row: 3;
    }
    #phone {
        grid-column: 4/5;
        grid-row: 3;
    }
}