<main id="contact-me" class="container">
    <h1 id="contact" class="font-dm-serif-text">Trabajemos juntos, ¡Contáctame!</h1>
    <a id="git-contact" href="https://github.com/DianaG-M" target="_blank"> <i title="GitHub" class="fab fa-github icon-color icon-contact"></i> </a>
    <a id="linkedIl" href="https://www.linkedin.com/in/DianaG-M/" target="_blank"><i title="linkedIn" class="fab fa-linkedin icon-color icon-contact"></i></a>
    <a id="gmail" href="mailto:diguma09@gmail.com" target="_blank"> <i title="diguma09@gmail.com" class="fas fa-envelope icon-color icon-contact"></i> </a>
    <a id="cv" href="assets/doc/Diana_Gutierrez.pdf" download="Diana_Gutierrez " target="_blank "> <i title="CV " class="fas fa-file-download icon-color icon-contact "></i> </a>
    <a id="phone" href="tel:+525520028692"> <i title="5520028696" class="fab fa-whatsapp icon-color icon-contact"></i> </a>
</main>