<main id="contact-me" class="container">
    <h3 id="contact" class="card-title font-Courgette">Trabajemos juntos, ¡Contáctame!</h3>
    <!-- <form action="">
        <label class="font-Bad-Script card-text label-text" for="name">Nombre: </label>
        <input class="label-text font-Bad-Script" type="text" name="name" id="" placeholder="Nombre Completo">
        <label class="font-Bad-Script card-text label-text" for="email">Correo</label>
        <input class="label-text font-Bad-Script" type="email" name="email" id="" placeholder="Correo">
        <label class="font-Bad-Script card-text label-text" for="message">Mensaje</label>
        <input class="label-text font-Bad-Script" type="text" name="message" id="" placeholder="Escribe aqui tu mensaje">
        <input id="btn-submi" class="btn btn-color-card" type="submit" value="Enviar">
    </form> -->

    <a id="git-contact" href="https://github.com/DianaG-M" target="_blank"> <i title="GitHub" class="fab fa-github fa-9x icon-color icon-tools"></i> </a>
    <a id="linkedIl" href="https://www.linkedin.com/in/diana-gtz-mtz/" target="_blank"><i title="linkedIl" class="fab fa-linkedin fa-9x icon-color icon-tools"></i></a>
    <a id="gmail" href="mailto:diguma09@gmail.com" target="_blank"> <i title="diguma09@gmail.com" class="fas fa-envelope fa-9x icon-color icon-tools"></i> </a>
    <a id="cv" href="assets/doc/Diana_Gutierrez.pdf" download="Diana_Gutierrez " target="_blank "> <i title="CV " class="fas fa-file-download fa-9x icon-color icon-tools "></i> </a>
    <a id="phone" href="tel:+525520028692"> <i title="5520028696" class="fab fa-whatsapp fa-9x icon-color icon-tools"></i> </a>


</main>