<main id="skills">
    <div class="div-skill">
        <img class="img-skills" src="assets/img/trabajo_en_equipo.png" alt="">
        <h3 class="font-dm-serif-text title-skills">Trabajo en equipo</h3>
    </div>
    <div class="div-skill">
        <img class="img-skills" src="assets/img/autoaprendizaje.png" alt="">
        <h3 class="font-dm-serif-text title-skills">Autoaprendizaje</h3>
    </div>
    <div class="div-skill">
        <img class="img-skills" src="assets/img/calendario.png" alt="">
        <h3 class="font-dm-serif-text title-skills">Gestión del tiempo</h3>
    </div>
    <div id="empathy" class="div-skill">
        <img class="img-skills" src="assets/img/empatico.png" alt="">
        <h3 class="font-dm-serif-text title-skills">Empática</h3>
    </div>
</main>