<main id="skills">
    <Label id="team-work" class="card-title font-Courgette title-skills">Trabajo en equipo</Label>
    <img id="img-team" class="img-skills" src="assets/img/trabajo_en_equipo.png" alt="">
    <Label id="self-learn" class="card-title font-Courgette title-skills">Autoaprendizaje</Label>
    <img id="img-self" class="img-skills" src="assets/img/autoaprendizaje.png" alt="">
    <Label id="calendy" class="card-title font-Courgette title-skills">Gestión del tiempo</Label>
    <img id="img-calendy" class="img-skills" src="assets/img/calendario.png" alt="">
    <Label id="empathy" class="card-title font-Courgette title-skills">Empática</Label>
    <img id="img-empathy" class="img-skills" src="assets/img/empatico.png" alt="">
</main>