<main id="tools">
    <i title="HTML5" class="fab fa-html5 icon-color icon-tools"></i>
    <i title="CSS3" class="fab fa-css3-alt icon-color icon-tools"></i>
    <i title="ES6" class="fab fa-js-square icon-color icon-tools"></i>
    <i title="Bootstrap" class="fab fa-bootstrap icon-color icon-tools"></i>
    <img title="Firebase" id="firebase-tools" src="assets/img/firebase-480.png" class="icon-color firebase" alt="">
    <i title="GitHub" class="fab fa-github icon-color icon-tools"></i>
    <i title="Angular7" class="fab fa-angular icon-color icon-tools"></i>
    <i title="NodeJS" class="fab fa-node icon-color icon-tools"></i>
</main>