<main id="tools">
    <div class="div-tools">
        <i title="HTML5" class="fab fa-html5 icon-color icon-tools"></i>
        <h5 class="font-libre-baskerville title-tools">HTML5</h5>
    </div>
    <div class="div-tools">
        <i title="CSS3" class="fab fa-css3-alt icon-color icon-tools"></i>
        <h5 class="font-libre-baskerville title-tools">CCS3</h5>
    </div>

    <div class="div-tools">
        <i title="ES6" class="fab fa-js-square icon-color icon-tools"></i>
        <h5 class="font-libre-baskerville title-tools">JavaScript</h5>
    </div>

    <div class="div-tools">
        <i title="Bootstrap" class="fab fa-bootstrap icon-color icon-tools"></i>
        <h5 class="font-libre-baskerville title-tools">Bootstrap</h5>
    </div>

    <div class="div-tools">
        <img title="Firebase" id="firebase-tools" src="assets/img/firebase.svg" class="icon-color" alt="">
        <h5 class="font-libre-baskerville title-tools">Firebase</h5>
    </div>

    <div class="div-tools">
        <i title="GitHub" class="fab fa-github icon-color icon-tools"></i>
        <h5 class="font-libre-baskerville title-tools">GitHub</h5>
    </div>

    <div class="div-tools">
        <i title="Angular7" class="fab fa-angular icon-color icon-tools"></i>
        <h5 class="font-libre-baskerville title-tools">Angular 7</h5>
    </div>

    <div class="div-tools">
        <i title="NodeJS" class="fab fa-node icon-color icon-tools"></i>
        <h5 class="font-libre-baskerville title-tools">NodeJs</h5>
    </div>

</main>