<main id="about">
    <div id="borde-img">
        <img align="middle" id="foto" src="assets/img/foto.jpg" alt="">
    </div>

    <div id="text-about" class="font-Bad-Script">
        <p> <br> Soy egresada de la carrera de Ingeniería en Computación de la UNAM, actualmente me estoy especializando en el track de Front-end Developer en Laboratoria. Siempre he sido una persona dedicada y apasionada por lo que hace.</p>
        <p>Me gusta aprender cosas nuevas, y con el código siempre estoy aprendiendo, desarrollando habilidades de autroaprendizaje y conocimientos lógicos.</p>
    </div>

</main>