<main id="about">
    <div id="borde-img">
        <img align="middle" id="foto" src="assets/img/foto.jpg" alt="">
    </div>

    <div id="text-about" class="font-libre-baskerville">
        <p> <br> Soy desarrolladora Front-end egresada de la carrera de Ingeniería en Computactión con expertise en el framework de Angular. Siempre he sido una persona dedicada y apasionada por lo que hace.</p>
        <p>Me gusta aprender cosas nuevas, y con el código siempre estoy aprendiendo.</p>
    </div>

</main>