<div class="navbar navbar-expand-lg navbar-light" style="background-color: #f8deef75">
    <img src="../../../../favicon.ico" alt="" id="logo-nav">
    <a [routerLink]="['/about_me']" class="navbar-brand font-dm-serif-text" id="title">Diana Gutiérrez</a>
</div>

<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #f8deef75">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav btn-group">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link btn btn-color btn-font font-libre-baskerville" [routerLink]="['/about_me']"> Acerca de mí</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link btn btn-color btn-font font-libre-baskerville" [routerLink]="[ '/proyectos']">Proyectos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link btn btn-color btn-font font-libre-baskerville" [routerLink]="[ '/herramientas']">Herramientas</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link btn btn-color btn-font font-libre-baskerville" [routerLink]="[ '/habilidades']">Habilidades</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link btn btn-color btn-font font-libre-baskerville" [routerLink]="[ '/contacto']">Contacto</a>
            </li>
        </ul>

    </div>
</nav>