<nav class="navbar navbar-expand-m navbar-light" style="background-color: #f8deef75">
    <img src="../../../../favicon.ico" alt="" id="logo-nav">
    <a class="navbar-brand" id="title">Diana Gutiérrez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ul-nav">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button [routerLink]="['/about_me']" type="button" class="btn btn-color btn-font">Acerca de mí</button>
                <button [routerLink]="['/proyectos']" type="button" class="btn btn-color btn-font">Proyectos</button>
                <button [routerLink]="['/herramientas']" type="button" class="btn btn-color btn-font">Herramientas</button>
                <button [routerLink]="['/habilidades']" type="button" class="btn btn-color btn-font">Habilidades</button>
                <button [routerLink]="['/contacto']" type="button" class="btn btn-color btn-font">Contáctame</button>
            </div>
        </ul>
    </div>
</nav>