<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f8deef75">
    <img src="../../../../favicon.ico" alt="" id="logo-nav">
    <a [routerLink]="['/about_me']" class="navbar-brand font-Courgette" id="title">Diana Gutiérrez</a>
</nav>
<div class="btn-group" role="group" aria-label="Basic example">
    <button [routerLink]="['/about_me']" type="button" class="btn btn-color btn-font font-Bad-Script">Acerca de mí</button>
    <button [routerLink]="['/proyectos']" type="button" class="btn btn-color btn-font font-Bad-Script">Proyectos</button>
    <button [routerLink]="['/herramientas']" type="button" class="btn btn-color btn-font font-Bad-Script">Herramientas</button>
    <button [routerLink]="['/habilidades']" type="button" class="btn btn-color btn-font font-Bad-Script">Habilidades</button>
    <button [routerLink]="['/contacto']" type="button" class="btn btn-color btn-font font-Bad-Script">Contáctame</button>
</div>