@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
.font-dm-serif-text {
    font-family: 'DM Serif Text', serif;
}

.font-libre-baskerville {
    font-family: 'Libre Baskerville', serif;
}

.fixed {
    position: fixed;
    width: 100vw;
}