@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
.font-dm-serif-text {
    font-family: 'DM Serif Text', serif;
}

.font-libre-baskerville {
    font-family: 'Libre Baskerville', serif;
}


/* Contact */


/* #contact-me {
    background-color: #f8deef75;
    height: 70vh;
    display: grid;
    grid-template-columns: 5% 18% 18% 18% 18% 18% 5%;
    grid-template-rows: 40% 50% 10%
}

#contact {
    margin: auto;
    grid-column: 1/8;
}
 */


/* .label-text {
font-size: 40px;
}

#btn-submit {
width: 15px;
} */


/* .icon-contact {
    font-size: 6em;
}

#git-contact,
#linkedIl,
#gmail,
#cv,
#phone {
    grid-row: 2/3;
    margin: auto;
}

#git-contact {
    grid-column: 2/3;
}

#linkedIl {
    grid-column: 3/4;
}

#gmail {
    grid-column: 4/5;
}

#cv {
    grid-column: 5/6;
}

#phone {
    grid-column: 6/7;
}

 */


/* Incian los breakpoints */


/* 1366x768 */


/*@media (max-width: 1366px) and (max-height: 768px) {
    /* navbar 
    #logo-nav {
        width: 95px;
        margin-left: 20px;
    }
    #title {
        font-size: 50px;
    }
    .btn-font {
        font-size: 20px;
    }
    /* About-me 
    #foto {
        width: 75%;
    }
    #text-about {
        font-size: 24px;
    }
    /* projects 
    .img-card {
        margin: 30% auto 0;
    }
    .card {
        height: 70vh;
    }
    .card-title {
        font-size: 30px;
    }
    .card-text {
        font-size: 20px;
    }
    .icon-color {
        font-size: 2.5em;
    }
    .firebase {
        width: 45px;
        justify-self: end;
    }
    /* Tools 
    .icon-tools {
        font-size: 6.5em;
    }
    #firebase-tools {
        width: 100px;
    }
    /* Skills 
    .title-skills {
        font-size: 20px;
    }
}*/


/* 768x1024 */


/* @media (max-width: 769px) and (max-height: 1025px) {
    /* navbar 
    #logo-nav {
        width: 90px;
        margin-left: 10px;
    }
    #title {
        font-size: 60px;
    }
    .btn-font {
        font-size: 22px;
    }
    /* About me
    #about {
        grid-template-rows: 5% 50% 50% 10%;
        height: 66vh;
    }
    #borde-img {
        height: 100%;
        width: 50%;
        grid-column: 2/5;
        grid-row: 3/4;
        margin: auto;
    }
    #foto {
        width: 90%;
        height: 90%;
        margin: 16px
    }
    #text-about {
        grid-column: 2/5;
        grid-row: 2/3;
        font-size: 23px;
    }
    /* projects 
    .no-gutters {
        width: 82%;
        margin: auto;
    }
    .projects {
        height: 82.5vh;
    }
    .card {
        height: 79vh;
    }
    .card-title {
        font-size: 50px;
    }
    .card-body {
        grid-template-columns: 23.75% 23.75% 5% 22% auto;
        grid-template-rows: 20% 50% 10%;
        width: 81vw;
        height: 55vh;
    }
    .card-text {
        font-size: 22px;
    }
    .img-card {
        width: 40%;
        margin: 7% auto;
    }
    .btn-card {
        width: 62%;
    }
    #burger {
        margin: 0 auto;
    }
    #picfood {
        margin: 40px auto 15px;
    }
    .icon {
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 33.3% 33.3% 33.3%;
    }
    .icon-color {
        font-size: 4em;
        margin: auto;
    }
    .firebase {
        width: 60px;
    }
    #pokemon {
        margin-top: 95px;
    }
    /* tolls 
    #tools {
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 33.3% 33.3% 33.3%;
        height: 70vh;
    }
    .icon-tools {
        font-size: 5em;
        margin: auto;
    }
    #firebase-tools {
        width: 100px;
    }
    /* skills 
    #skills {
        grid-template-columns: 50% auto;
        grid-template-rows: 10% 40% 10% 40%;
        height: 75vh;
    }
    .img-skills {
        width: 40%;
        margin: auto;
    }
    .title-skills {
        font-size: 30px;
        margin: auto;
    }
    #team-work,
    #img-team,
    #calendy,
    #img-calendy {
        grid-column: 1/2;
    }
    #img-team,
    #img-self {
        grid-row: 2/3;
    }
    #self-learn,
    #img-self,
    #empathy,
    #img-empathy {
        grid-column: 2/3;
    }
    #img-calendy {
        grid-row: 4/5;
    }
    /* contact-me 
    #contact {
        text-align: center;
    }
}*/


/* 376x668 */


/*@media (max-width: 376px) and (max-height: 668px) {
    /* navbar */


/* 
#logo-nav {
    width: 50px;
    margin-left: 10px;
}

#title {
    font-size: 30px;
}

.btn-font {
    font-size: 12px;
} */


/* About me 
    #about {
        grid-template-rows: 5% 50% 50% 10%;
        height: 70vh;
    }
    #foto {
        width: 60%;
        grid-row: 3/4;
        grid-column: 2/4;
    }
    #text-about {
        grid-column: 2/4;
        grid-row: 2/3;
        font-size: 15px;
    }
    /* projects 
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 20px;
        height: 20px;
    }
    .projects {
        height: 84vh;
    }
    .card {
        height: 80vh;
    }
    .img-card {
        width: 40%;
        margin: 5% auto;
    }
    .icon {
        grid-column: 1/6;
        grid-row: 3/4;
        grid-template-columns: 25% 25% 25% auto;
        grid-template-rows: 50% 50%;
    }
    .icon-color {
        font-size: 2.2em;
    }
    .card-title {
        font-size: 25px;
    }
    .card-body {
        height: 58vh;
        grid-template-columns: 23.75% 23.75% 5% 23.75% auto;
        grid-template-rows: 15% 30% 30% auto;
    }
    .card-text {
        font-size: 15px;
        grid-column: 1/6;
    }
    /* tolls 
    #tools {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 33.3% 33.3% 33.3%;
        height: 70vh;
    }
    .icon-tools {
        font-size: 5em;
        margin: auto;
    }
    #firebase-tools {
        width: 90px;
    }
    /* skills 
    #skills {
        grid-template-columns: 50% auto;
        grid-template-rows: 10% 40% 10% 40%;
        height: 75vh;
    }
    .img-skills {
        width: 40%;
        margin: auto;
    }
    .title-skills {
        font-size: 20px;
        margin: auto;
    }
    #team-work,
    #img-team,
    #calendy,
    #img-calendy {
        grid-column: 1/2;
    }
    #img-team,
    #img-self {
        grid-row: 2/3;
    }
    #self-learn,
    #img-self,
    #empathy,
    #img-empathy {
        grid-column: 2/3;
    }
    #img-calendy {
        grid-row: 4/5;
    }
    /* contact me 
    #contact-me {
        height: 84vh;
        grid-template-columns: 5% 30% 30% 30% 5%;
        grid-template-rows: 40% 25% 25% 10%
    }
    #contact {
        grid-column: 1/6;
        text-align: center;
    }
    #cv {
        grid-column: 2/3;
        grid-row: 3;
    }
    #phone {
        grid-column: 4/5;
        grid-row: 3;
    }
}*/